<div class="sidenav-header__cont">
  <div class="sidenav-header__header">
    <span class="sidenav-header__header--text">MOHARRAM<br>SCHOOLS</span>
    <img src="../../../../../assets/images/logo/fuse.svg" alt="moharram School Logo" class="sidenav-header__header--logo">
    <span class="sidenav-header__header--coll-btn">
      <button class="sidenav-header__header--coll-btn__btn"></button>
      <img class="sidenav-header__header--coll-btn__icon" src="../../../../../assets/icons/arrow/icons8-circled-arrow-pointing-up-and-left-96 (1).png" alt="">
    </span>
  </div>
  <div class="sidenav-header__profile">
      <div class="sidenav-header__profile--name">Roozy</div>
      <div class="sidenav-header__profile--email">moharram@mail.com</div>
      <div class="sidenav-header__profile--avatar">
          <span class="avatar-text">Control Pannel</span>
          <div class="avatar-circle"></div>
          <img class="img" src="../../../../../assets/images/cpanel/avatar/e.jpg_cr.jpg">
      </div>
  </div>
</div>
