<div class="sch-payments-cont comp-cont__margin">
  <mat-card class="form-card-cont">
      <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
        <mat-tab label="Student Payments">
          <students-stud-payment></students-stud-payment>
        </mat-tab>
        <mat-tab label="All Payments">
          <mat-card-title class="card-title">All students payments</mat-card-title>
        </mat-tab>
        <mat-tab label="Third">Content 3
            <span class="fab fa-spin fa-github" aria-hidden="true"></span>
            <!-- <span class="fab fa-refresh fa-spin fa-github" aria-hidden="true"></spin> -->
        </mat-tab>
      </mat-tab-group>
  </mat-card>


</div>
