@media print {
  // app-root > * { display: none; }
  // app-root app-pdf-print { display: block; }
  .dont-print{
    display: none !important;
  }

  .print{
    display: block !important;
  }

//   .mat-elevation-z8 {
//     box-shadow: none;
//   }
}
