// $main-blue-color: #2f5572;
// $main-orange-color: #d59541;
// $margin-small: 3rem;
// $margin-medium: 4rem;
// $margin-large: 8rem;

// /* //..GRID.. */

// $grid-width-1: 75vw;
// $gutter-vertical: 8rem;
// $gutter-horizontal: 6rem;
// // RESPONSIVE BREAKPOINTS
// $bp-largest: 75em; // 1200px
// $bp-large: 62.5em; // 1000px
// $bp-medium: 50em; // 800px;
// $bp-small: 37.5em; // 600px;
// Layout
$layout-width: 100vw;

// Top Nav
$top-nav-height: 7rem;

// App Header
$app-header-height: 12rem;

// Side Nav
$side-nav-width: 26rem;

// Content
$app-top-tot-height: calc(#{$top-nav-height} + #{$app-header-height}); // 8rem + 20vh + 2.5rem
$app-content-width: calc(100vw - #{$side-nav-width});
// App Pages
$app-pages-margin-top: 2.5rem;
$app-pages-minHeight: calc(100vh - #{$app-top-tot-height} - #{$app-pages-margin-top});
