// .header, .header-space, .footer, .footer-space { height: 100px; }
// .header { position: fixed; top: 0; }
// .footer { position: fixed; bottom: 0; }
// @media screen {
//   :host {
//     display: none;
//   }
// }

.print-layout {
  position: relative;
  width: 100%;
  height: 100%;
}

.print-background {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:white;
}

.print-header {
  display: flex;
  // justify-content: center;
  align-items: center;
  width: 100%;
  height: 10rem;
  border-bottom: 2px solid rgb(224, 224, 224);

  &__logo {
    height: 7rem;
    margin-left: 4rem;

    &--img {
      display: block;
      // top: 50%;
      // bottom: 50%;
      // margin: auto 0;
      display: block;
      width: 7rem;
      height: 7rem;
    }
  }

  &__text {
    display: block;
    position: absolute;
    padding-top: 1.5rem;
    margin-left: 14rem;
    font-size: 4rem;
  }
}

.print-content {
  position: relative;
  // min-height: 100%;
  height: calc(100vh - 20rem);
  // background-color: red;

}

.print-footer {
  width: 100%;
  height: 10rem;
  border-top: 2px solid rgb(224, 224, 224);

  &__text {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }
}
