<!-- <table>
  <thead><tr><td>
    <div class="header-space">&nbsp;</div>
  </td></tr></thead>
  <tbody><tr><td>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </td></tr></tbody>
  <tfoot><tr><td>
    <div class="footer-space">&nbsp;</div>
  </td></tr></tfoot>
</table> -->

<div class="print-layout">
  <div class="print-header">
    <span class="print-header__logo">
        <img src="../../../assets/images/logo/fuse.svg" alt="moharram School Logo" class="print-header__logo--img">
    </span>
      <h2 class="print-header__text">Moharram Islamic Language Schools</h2>
  </div>

  <div class="print-background"></div>

  <div class="print-child">
    <!-- <print-students-all></print-students-all> -->
  </div>
  <div class="print-content">
    <print-bank-invoice></print-bank-invoice>
  </div>

  <div class="print-footer">
    <h2 class="print-footer__text">Footer Goes Hear</h2>
  </div>
</div>
