<div class="sch-grade-cont comp-cont__margin">
  <mat-card class="form-card-cont">
    <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
      <mat-tab label="Grades">
        <mat-card-title class="card-title">All Grades</mat-card-title>
        <stud-tables></stud-tables>
      </mat-tab>
      <mat-tab label="Add Grade">
        <sch-grade-add-grade></sch-grade-add-grade>
      </mat-tab>

      <mat-tab label="Third">
        <studTable></studTable>
      </mat-tab>

    </mat-tab-group>

  </mat-card>

  <!-- <div style="display:block;">
    <stud-tables></stud-tables>
  </div> -->
</div>
