// .form {
//   width: 300px;
//   margin: 0 auto;
// }

.login-cont {
  // padding: 2rem;
  font-size: 2rem;
}

.login-text {
  margin: 2rem auto;
  text-align: center;
}

.form-cont {
  margin: 5rem auto;
  width: 40rem;
}
