<div class="sch-fees-cont comp-cont__margin">
  <mat-card class="form-card-cont">
    <mat-tab-group animationDuration="0ms" mat-align-tabs="center">
      <mat-tab label="fees">
        <mat-card-title class="card-title">All Fees</mat-card-title>
        <school-fees-show-fees></school-fees-show-fees>
      </mat-tab>
      <mat-tab label="Add Fees">
        <sch-add-fees></sch-add-fees>
      </mat-tab>

      <mat-tab label="Third">Content 3</mat-tab>
    </mat-tab-group>

  </mat-card>
</div>
